<!--
  This template loads for the 'tab.pet-detail' state (app.js)
  'pet' is a $scope variable created in the PetCtrl controller (controllers.js)
  The PetCtrl pulls data from the Pets service (service.js)
  The Pets service returns an array of pet data
-->
<ion-view title="product.name">
  <ion-content has-header="true" padding="true">
    
        <p>{{ product.namespace }}</p>
    
        <p>{{ product.name }}</p>
    
        <p>{{ product.desc }}</p>
    
        <p>{{ product.restaurant }}</p>
    
        <p>{{ product.carbs }}</p>
    
        <p>{{ product.calories }}</p>
    
        <p>{{ product.points }}</p>
    
    <p><a class="button button-small icon ion-arrow-left-b" href="#//restaurants/:restaurant/products"> All s</a></p>
  </ion-content>
</ion-view>
